<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Victor Barbosa - Mask Detector
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Victor Barbosa - Mask Detector</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
        <app-mask-detect></app-mask-detect>
        <iframe src="https://dinosaur-game.io/game/dino/" style="width: 100vw; height: 100vh;"></iframe>

  </div>
</ion-content>
